doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css')
    script(type='text/javascript' src='/js/requireConfig.js')
    script(type='text/javascript' data-main="controller/index.js" src='//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.min.js')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
  body
    .spans
      button(class='arrow horiz left')
        span(class='glyphicon glyphicon-arrow-left')
      button(class='arrow horiz right')
        span(class='glyphicon glyphicon-arrow-right')
      button(class='arrow vert up')
        span(class='glyphicon glyphicon-arrow-up')
      button(class='arrow vert down')
        span(class='glyphicon glyphicon-arrow-down')
