doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    script(type='text/javascript' src='/js/requireConfig.js')
    script(type='text/javascript' data-main="game/index.js" src='/js/vendor/require.js')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
  body
    #viewport.centered
