html, body, .spans {
  width: 100%;
  height: 100%;
}

.spans > span {
  position: absolute;
}

.spans .horiz {
  top: 50%;
}
.spans .left {
  left: 0px;
}
.spans .right {
  right: 0px;
}

.spans .vert {
  left: 50%;
}
.spans .up {
  top: 0%;
}

.spans .down {
  bottom: 0;
}
