html, body, .spans {
  width: 100%;
  height: 100%;
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  font-size: 10em;
  z-index: 1;
  text-align: center;
}

.spans {
}

.spans .arrow {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: inline-block;
  background-color: #ddd;
  text-align: center;
  border-radius: 1em;
}

.arrow span {
    margin:auto;
}

.spans .left {
  right: initial;
}
.spans .right {
  left: initial;
}

.spans .up {
  bottom: initial;
}

.spans .down {
  top: initial;
}
